.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  gap: 16px;
  min-height: 100vh;
  font-family: TimesNewRoman, 'Times New Roman', Times
}

.content > p {
  margin: 16px;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    flex-direction: column;
  }
}
