.container {
  & > * {
    margin: var(--small-gutter) 0;
    & > ul {
      list-style: '- ';
      margin-left: var(--small-gutter);
    }
  }

  & > img {
    width: 256px;
    height: 256px;
    border-radius: 256px;
    object-fit: cover;
  }
}